.input {
    padding: 6px 12px;
    border: 1px solid rgba(0, 128, 128, 0.8);
    color: rgba(0, 128, 128, 0.8);
    border-radius: 5px;
    font-size: 1em;
}

.input:focus {
    outline: none;
    border-width: 2px;
    padding: 5px 11px;
}