.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    min-width: 400px;
    max-width: 1200px;
}

.item {
    display: block;
    padding: 6px 13px;
    border: 1px solid teal;
    color: teal;
    border-radius: 10px;
    background-color: #FFF;
    cursor: pointer;
    word-break: break-all;
}

.active {
    background-color: teal;
    color: #FFF;
    border-color: #FFF;
}