.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    min-width: 400px;
    max-width: 1200px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 13px;
    border: 1px solid rgba(0, 128, 128, 0.8);
    color: rgba(0, 128, 128, 0.8);
    border-radius: 10px;
    background-color: #FFF;
    cursor: pointer;
    word-break: break-all;
    line-height: 1em;
}

.active {
    background-color: rgba(0, 128, 128, 0.8);
    color: #FFF;
    border-color: #FFF;
}